In [ ]:
# PART 1

In [5]:
# 1) Create a list with the names of the top 10 CO₂ emitting countries (in order by total emissions)
top10_countries = [
    "China",
    "United States",
    "India",
    "Russia",
    "Japan",
    "Iran",
    "Indonesia",
    "Saudi Arabia",
    "South Korea",
    "Germany"
]

In [6]:
# 2) Have Python tell you how many countries there are by examining your list
len(top10_countries)

10

In [7]:
# 3) Use slicing to display the first three countries (the top emitters)
top10_countries[:3]

['China', 'United States', 'India']

In [8]:
# 4) Iterate through your countries and print the country name only if it has an a in the name
for country in top10_countries:
    if "a" in country.lower():
        print(country)

China
United States
India
Russia
Japan
Iran
Indonesia
Saudi Arabia
South Korea
Germany

In [ ]:
# PART 2

In [9]:
# 1) Now create a dictionary that maps each country name to its annual CO₂ emissions
co2_2024_mton = {
    "China": 13124.70,
    "United States": 4632.16,
    "India": 3153.83,
    "Russia": 2009.15,
    "Japan": 972.27,
    "Iran": 828.99,
    "Indonesia": 812.20,
    "Saudi Arabia": 652.51,
    "South Korea": 588.01,
    "Germany": 579.94,
}

In [10]:
# 2) Use your dictionary to look up the United States’ emissions
co2_2024_mton["United States"]

4632.16

In [12]:
# 3) Loop through the data and create a list of countries whose emissions are greater than 1,000 million metric tons per year
over_1000 = []
for country, emissions in co2_2024_mton.items():
    if emissions > 1000:
        over_1000.append(country)

over_1000

['China', 'United States', 'India', 'Russia']

In [13]:
# 4) Now add Brazil to your dictionary
co2_2024_mton["Brazil"] = 491.47
co2_2024_mton["Brazil"]

491.47

In [ ]:
# PART 3

In [14]:
# 1) Write a function to convert temperature from kelvin to celsius and celsius to kelvin
def kelvin_to_celsius(k):
    return k - 273.15

def celsius_to_kelvin(c):
    return c + 273.15

In [15]:
# 2) Write a function to convert temperature to fahrenheit. 
    # Include an optional keyword argument to specify whether the input is in celcius or kelvin.
    # Call your previously defined functions if necessary.
def to_fahrenheit(temp, *, input_unit="celsius"):
    """
    Convert a temperature to Fahrenheit.
    input_unit: "celsius" or "kelvin"
    """
    unit = input_unit.lower()
    if unit == "kelvin":
        c = kelvin_to_celsius(temp)
    elif unit == "celsius":
        c = temp
    else:
        raise ValueError("input_unit must be 'celsius' or 'kelvin'")
    
    return (9/5) * c + 32

In [16]:
# 3) Check that the outputs are sensible by trying a few examples
print("0°C ->", to_fahrenheit(0, input_unit="celsius"), "°F")          # should be 32°F
print("273.15 K ->", to_fahrenheit(273.15, input_unit="kelvin"), "°F") # should be 32°F
print("300 K ->", to_fahrenheit(300, input_unit="kelvin"), "°F")       # ~80.33°F

0°C -> 32.0 °F
273.15 K -> 32.0 °F
300 K -> 80.33000000000004 °F

In [17]:
# 4) Now write a function that converts from farenheit
    # and uses a keyword argument to specify whether you want the output in celcius or kelvin
def from_fahrenheit(f, *, output_unit="celsius"):
    """
    Convert Fahrenheit to Celsius or Kelvin.
    output_unit: "celsius" or "kelvin"
    """
    c = (f - 32) * (5/9)

    unit = output_unit.lower()
    if unit == "celsius":
        return c
    elif unit == "kelvin":
        return celsius_to_kelvin(c)
    else:
        raise ValueError("output_unit must be 'celsius' or 'kelvin'")

In [18]:
# 5) Write a function that takes two arguments (feet and inches) and returns height in meters
    #Verify it gives sensible answers
def height_to_meters(feet, inches):
    total_inches = 12 * feet + inches
    meters = total_inches * 0.0254
    return meters

In [19]:
print("5 ft 0 in ->", height_to_meters(5, 0), "m")   # 1.524 m
print("6 ft 0 in ->", height_to_meters(6, 0), "m")   # 1.8288 m

5 ft 0 in -> 1.524 m
6 ft 0 in -> 1.8288 m

In [20]:
# 6) Write a function takes one argument (height in meters) and returns two arguments (feet and inches)
    #(Consult the tutorial on numbers if you are stuck on how to implement this.)
def meters_to_height(meters):
    total_inches = meters / 0.0254
    feet = int(total_inches // 12)
    inches = total_inches - 12 * feet
    return feet, inches

In [22]:
# 7) Verify that the “round trip” conversion from and back to meters is consistent
    # Check for 3 different values of height in meters
test_values_m = [1.50, 1.75, 2.00]

for m in test_values_m:
    ft, inch = meters_to_height(m)
    m_back = height_to_meters(ft, inch)
    print(f"Start: {m} m -> {ft} ft, {inch:.4f} in -> {m_back:.6f} m")

Start: 1.5 m -> 4 ft, 11.0551 in -> 1.500000 m
Start: 1.75 m -> 5 ft, 8.8976 in -> 1.750000 m
Start: 2.0 m -> 6 ft, 6.7402 in -> 2.000000 m