In [1]:
import pandas as pd

url = "https://data.nasa.gov/docs/legacy/meteorite_landings/Meteorite_Landings.csv"

df = pd.read_csv(url)

print(df)

             name     id nametype              recclass  mass (g)   fall  \
0          Aachen      1    Valid                    L5      21.0   Fell
1          Aarhus      2    Valid                    H6     720.0   Fell
2            Abee      6    Valid                   EH4  107000.0   Fell
3        Acapulco     10    Valid           Acapulcoite    1914.0   Fell
4         Achiras    370    Valid                    L6     780.0   Fell
...           ...    ...      ...                   ...       ...    ...
45711  Zillah 002  31356    Valid               Eucrite     172.0  Found
45712      Zinder  30409    Valid  Pallasite, ungrouped      46.0  Found
45713        Zlin  30410    Valid                    H4       3.3  Found
45714   Zubkovsky  31357    Valid                    L6    2167.0  Found
45715  Zulu Queen  30414    Valid                  L3.7     200.0  Found

         year    reclat    reclong             GeoLocation
0      1880.0  50.77500    6.08333       (50.775, 6.08333)
1      1951.0  56.18333   10.23333    (56.18333, 10.23333)
2      1952.0  54.21667 -113.00000      (54.21667, -113.0)
3      1976.0  16.88333  -99.90000       (16.88333, -99.9)
4      1902.0 -33.16667  -64.95000     (-33.16667, -64.95)
...       ...       ...        ...                     ...
45711  1990.0  29.03700   17.01850       (29.037, 17.0185)
45712  1999.0  13.78333    8.96667     (13.78333, 8.96667)
45713  1939.0  49.25000   17.66667       (49.25, 17.66667)
45714  2003.0  49.78917   41.50460     (49.78917, 41.5046)
45715  1976.0  33.98333 -115.68333  (33.98333, -115.68333)

[45716 rows x 10 columns]

In [2]:
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)"

In [3]:
df.tail()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [5]:
ds.sel(T=slice(229.5,300.5))

NameError: name 'ds' is not defined

In [6]:
df_refined.to_netcdf("filtered_NETCDF.nc")

NameError: name 'df_refined' is not defined

In [7]:
df.to_netcdf("filtered_NETCDF.nc")

AttributeError: 'DataFrame' object has no attribute 'to_netcdf'